
/* selectors */
/* universal  */
/* *{

} */

/* element */

/* span{
    color:red

}

h1{
    color:red

} */

/* class   */

/* .class_name{

} */

.input-wrapper{
    border:1px solid gray;
    width: fit-content;
    padding: 2px;
    border-radius: 6px;
    padding: 1px 4px;
    margin: 0px auto;

}

.input-wrapper > input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid blue;
    border-radius: 6px;

}
.input-wrapper > input:focus {
    outline: none;
    
}
.input-wrapper > input::placeholder {
   letter-spacing: 1px; 
   font-size: 14px;
}

.input-wrapper > button{
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
    width: 60px;
}

button{
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
    min-width: 60px;
}
